doctype html
html
  head
    title= "Profilo di " + user.name
  body
    p Nome: #{user.name.first} 
    p Cognome: #{user.name.last} 
    p Email: #{user.email}
    p Genere: #{user.gender}
    p Città: #{user.city}
    p Nazione: #{user.country}
    img(src=user.picture.large)